html {
  box-sizing: border-box;
  font-size: 62.5%;

  /* Do not break Korean words */
  &:lang(ko) {
    word-break: keep-all;
  }
}

body {
  margin: 0;
  overflow-wrap: break-word;
  font-family: Roboto, "Noto Sans KR", sans-serif;
  font-size: 1.6rem;
}

/* Reset img */
img {
  max-width: 100%;
  height: auto;
}

/* CSS Reset by [class] - Samsung Internet does supports it.(2021-07) */
[class] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
[class]::before,
[class]::after { box-sizing: border-box; }
[class]:where(ol, ul) { list-style: none; }
[class]:where(button, fieldset, iframe, input, select, textarea) { border: 0; }
[class]:where(button, dialog, input, mark, meter, progress) { background-color: transparent; }
[class]:where(table) {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
[class]:where(button, input, meter, progress, select, textarea) {
  -webkit-appearance: none;
  appearance: none;
}