<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Title</title>
  <link rel="stylesheet" href="../../assets/css/uid.css">
  <script defer src="../../vendor.js"></script>
  <script defer src="../../uid.js"></script>
</head>