<nav role="navigation" aria-label="main navigation" class="navbar">
  <div class="navbar__logo">
    <div>
      <svg class="svg-sprite">
        <use href="#icon-excel"></use>
      </svg>
    </div>
    <div>
      <svg>
        <use xlink:href="#test"></use>
      </svg>
    </div>
  </div>
  <div class="navbar__menu">

  </div>
</nav>