<!DOCTYPE html>
<html lang="ko">
{{> partials/head}}

<body>
  {{> partials/noscript}}
  <section>
    <div class="container">
      {{> partials/navbar}}
      <div class="columns">
        {{> partials/aside path=templates grid="is-active"}}
        <div class="sub-page">
            Button Pages
        </div>
      </div>
    </div>
  </section>
  {{> partials/footer}}
</body>

</html>