{{#[../helpers/layout] htmlWebpackPlugin}}
<button class="open-btn" data-target="one" type="button">열기1</button>
<button class="open-btn" data-target="two" type="button">열기2</button>
<article class="modal is-hidden" data-open-target="one">
  <div class="modal__background"></div>
  <div class="modal__content">
    <header class="modal__head">
      <h1>제목1</h1>
      <button class="close-btn" type="button">닫기</button>
    </header>
    <section class="modal__body">
      <svg>
        <use xlink:href="#test"></use>
      </svg>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, minus atque vitae, modi libero nobis accusamus necessitatibus porro quam eligendi dolore temporibus, quas quis architecto odio commodi tenetur optio fugiat animi deserunt cupiditate? Nulla quam ab labore iste, architecto consequatur non. Quod veniam possimus ex itaque reiciendis voluptas inventore. Dolorem dolore nostrum iste ducimus praesentium quo suscipit delectus id deserunt quas, libero eum nulla voluptatem enim corporis nesciunt ea adipisci inventore. Culpa doloribus consequatur assumenda nihil voluptatibus quaerat, eius, itaque fuga, officia ut qui vel! Provident maxime possimus expedita quam eaque, facere dolorem cumque laudantium vitae mollitia, similique tempore veritatis odio, nisi dolores tempora. Numquam voluptatibus voluptates ullam explicabo. Consequatur, excepturi! Impedit saepe, quo facilis excepturi cum fugiat laborum architecto, ratione officia harum eius nobis corporis tempora autem et, nam officiis sequi laboriosam laudantium distinctio. Dolorem ut nulla, obcaecati enim odit qui sit illo facere similique doloremque quaerat architecto repellendus reprehenderit ratione modi ad numquam? Repudiandae, consequatur autem accusamus eum a veniam consequuntur optio reiciendis, temporibus doloremque dolorem ut eligendi maiores. Optio ipsum voluptatibus amet adipisci aspernatur minima! Commodi aliquid facere soluta reiciendis, deleniti assumenda velit accusantium dolor necessitatibus repellendus aspernatur voluptates quia ipsum, nobis, recusandae impedit laborum tempora alias? Laudantium dicta natus minima quia aperiam facere ut adipisci incidunt eveniet pariatur voluptates non, velit eum iure quisquam repellat provident quo saepe omnis est voluptas asperiores! Natus corporis autem unde sint laudantium earum, iste hic totam ex incidunt ut similique rerum, sunt minima odit asperiores sed magni debitis molestiae labore fugiat officia libero. Perspiciatis officiis atque itaque, quia consequatur debitis amet magnam inventore rerum soluta saepe dicta illo. Magni minima eaque modi sequi veniam in alias, deleniti voluptas harum necessitatibus corrupti maiores, nam reprehenderit perferendis. Veniam quae beatae ratione dignissimos eveniet, quaerat deserunt magnam? Nobis consequuntur rem ratione nihil tenetur!</p>
    </section>
  </div>
</article>

<article class="modal is-hidden" data-open-target="two">
  <div class="modal__background"></div>
  <div class="modal__content">
    <header class="modal__head">
      <h1>제목2</h1>
      <button class="close-btn" type="button">닫기</button>
    </header>
    <section class="modal__body">
      <p>test</p>
    </section>
  </div>
</article>
{{/[../helpers/layout]}} 