{{#[../helpers/layout] htmlWebpackPlugin}}
<div class="clip">
  <picture class="clip__first">
    <source srcset="../../assets/images/2020-why-galaxy-switch-01.webp" type="image/webp">
    <img src="../../assets/images/2020-why-galaxy-switch-01.webp" alt="">
  </picture>
  <div class="clip__second">
    <picture>
      <source srcset="../../assets/images/2020-why-galaxy-switch-02.webp" type="image/webp">
      <img src="../../assets/images/2020-why-galaxy-switch-02.webp" alt="">
    </picture>
  </div>
</div>
{{/[../helpers/layout]}} 