<!DOCTYPE html>
<html lang="ko">
  {{> head}}
  <body class="before-load">
    {{> noscript}}
    {{> loading}}
    <div class="wrapper">
      {{> header}}
      <div class="container">
        {{> aside}}
        <main class="contents">
          {{{innerHTML}}}
        </main>
      </div>
    </div>
    {{> footer}}
  </body>
</html>