<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table of Contents</title>
  <style type="text/css">
    body {padding: 3rem;}
    table {table-layout: fixed;border-collapse: separate;border-top: .2rem solid #6F36F0;border-bottom: .1rem solid #888;width: 100%;}
    table th {font-weight: normal;font-size: 1.8rem;}
    table thead th {padding: 1.2rem 1.5rem;}
    table tbody th, 
    table tbody td {padding: 1rem 1.5rem;border-top: .1rem solid #e0e0e0;}
    table tbody th {vertical-align: top;text-align: left;}
    table tbody td {border-left: .1rem solid #e0e0e0;}
    table tbody td a {color: #666;}
    table tbody td:last-child {text-align: center;}
    table tbody tr:hover td {background-color: #6F36F0;}
    table tbody tr:hover td, 
    table tbody tr:hover td a {color: #fff;}
    table .is-categories th, 
    table .is-categories td {border-top: .1rem solid #aaa;}
    table .is-finish {color: #6F36F0;}
    table .is-modify {color: #4285f4;}
    table .is-confirm {color: #ed6B0a;}
  </style>
</head>
<body>
  <table>
    <colgroup>
      <col style="width:15%">
      <col style="width:10%">
      <col style="width:10%">
      <col>
      <col style="width:15%">
    </colgroup>
    <thead>
      <tr>
        <th colspan="3">screen name</th>
        <th>file path</th>
        <th>in progress</th>
      </tr>
    </thead>
    <tbody>
      <!-- Components -->
      <tr class="is-categories">
        <th rowspan="8">Components</th>
        <td colspan="2">Modal</td>
        <td><a href="./pages/components/modal.html" target="_blank">components/modal.html</a></td>
        <td>진행 중</td>
      </tr>
      <tr>
        <td colspan="2">Checkbox, Radio</td>
        <td><a href="./pages/components/checkbox-radio.html" target="_blank">components/checkbox-radio.html</a></td>
        <td>진행 중</td>
      </tr>
      <tr>
        <td colspan="2">DatePicker</td>
        <td><a href="./pages/components/datepicker.html" target="_blank">components/datepicker.html</a></td>
        <td>진행 중</td>
      </tr>
      <tr>
        <td colspan="2">Dropdown</td>
        <td><a href="./pages/components/dropdown.html" target="_blank">components/dropdown.html</a></td>
        <td>진행 중</td>
      </tr>
      <tr>
        <td colspan="2">Input</td>
        <td><a href="./pages/components/input.html" target="_blank">components/input.html</a></td>
        <td>진행 중</td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
        <td><a href="./pages/components/sample.html" target="_blank">components/sample.html</a></td>
        <td class="is-finish">완료</td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
        <td><a href="./pages/components/sample.html" target="_blank">components/sample.html</a></td>
        <td class="is-modify">수정 중</td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
        <td><a href="./pages/components/sample.html" target="_blank">components/sample.html</a></td>
        <td class="is-confirm">검수 요청</td>
      </tr>

      <!-- Templates -->
      <tr class="is-categories">
        <th rowspan="2">Templates</th>
        <td colspan="2">&nbsp;</td>
        <td><a href="./pages/templates/sample.html" target="_blank">templates/sample.html</a></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
        <td><a href="./pages/templates/sample.html" target="_blank">templates/sample.html</a></td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</body>
</html>